<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bronnen | Stad Antwerpen</title>

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://cdn.antwerpen.be/core_branding_favicons/citizens/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-16x16.png" />
    <link rel="manifest" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/site.webmanifest" />
    <link rel="mask-icon" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/safari-pinned-tab.svg"
        color="#cf0039" />

    <!-- Fonts inladen -->
    <link rel="stylesheet" href="https://cdn.antwerpen.be/core_branding_scss/4.0.0/main.min.css" />

    <!-- Bootstrap -->
    <meta name="msapplication-TileColor" content="#cf0039" />
    <meta name="theme-color" content="#cf0039" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="fonts/ionicons.min.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/header.css" />

    <!-- Eigen stylesheets -->
    <link rel="stylesheet" href="css/bronnen.css" />

    <!-- Font-Awesome voor de icoontjes -->
    <script src="https://kit.fontawesome.com/767dacdd14.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- Header -->
    <header class="o-header">
        <div class="o-header__content-wrapper">
            <div class="o-header__content">
                <a href="#main-content" class="a-button-negative o-header__button o-header__button-skip">Skip to
                    main content</a>
                <a href="/" class="o-header__logo">
                    <img src="images/logo_antwerpen.svg" alt="Officieel Logo Antwerpen">
                </a>
            </div>
            <div class="o-header__menu-items">
                <!-- Hier misschien inlog-button -->
            </div>
        </div>
    </header>

    <!-- Main content -->
    <main class="o-main">
        <div class="u-wrapper">
            <div class="table-container u-container u-margin-top-xx u-margin-bottom-lg">
                <h1>Open Source Notice</h1>
                <table class="a-table a-table--primary">
                    <caption class="ng-binding">Installed and used packages</caption>
                    <thead>
                        <tr>
                            <th>Package</th>
                            <th>License</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://nodejs.org/en/about/">NodeJS</a></td>
                            <td>MIT License</td>
                        </tr>
                        <tr>
                            <td><a href="https://leafletjs.com/">Leaflet</a></td>
                            <td>BSD 2-Clause "Simplified" License</td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/twbs/bootstrap">Bootstrap</a></td>
                            <td>MIT License</td>
                        </tr>
                        <tr>
                            <td><a href="http://mapbox.com/mapbox.js/">Mapbox</a></td>
                            <td>BSD 3-Clause "New" or "Revised" License</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.openstreetmap.org/">Openstreetmap</a></td>
                            <td>Open Data Commons Open Database License</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.mongodb.com/">MongoDB</a></td>
                            <td>Server Side Public License (SSPL)</td>
                        </tr>
                        <tr>
                            <td><a href="https://expressjs.com/">Express</a></td>
                            <td>MIT License</td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/motdotla/dotenv">dotenv</a></td>
                            <td>BSD 2-Clause "Simplified" License</td>
                        </tr>
                        <tr>
                            <td><a href="https://ejs.co/">EJS</a></td>
                            <td>Apache License</td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/node-fetch/node-fetch">Node-Fetch</a></td>
                            <td>MIT License</td>
                        </tr>
                        <tr>
                            <td><a href="https://nodemailer.com/about/">Nodemailer</a></td>
                            <td>MIT License (previous: European Union Public License 1.1)</td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/kelektiv/node.bcrypt.js">bcrypt</a></td>
                            <td>MIT License</td>
                        </tr>
                        <tr>
                            <td><a href="https://mongoosejs.com/">Mongoose</a></td>
                            <td>MIT License</td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/expressjs/session">Express-Session</a></td>
                            <td>MIT License</td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/jaredhanson/passport">Passport</a></td>
                            <td>MIT License</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer-basic">
        <div>
            <p class="copyright">© 2019-2020 Projectgroep H | <a href="/bronnen">Open Source</a> </p>
        </div>
        <a class="arrow shadow-none" href="#logo"><img src="images/arrow.png" alt="" height="50px" /></a>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</html>